<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Entrega Preliminar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Integrantes:</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ul>
      <li>André Felipe Silva de Souza</li>
      <li>Kayke Bernardo Gomes</li>
      <li>Wallace Pfaltzgraff Pessanha</li>
      <li>Romario Domisco Gonzaga</li>
    </ul>
  </div>
</ion-content>
